<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" 
 href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{menu :: menu}"></div>
<div class="container">
<h1>Adicionar Projeto</h1>

<form action= "/projeto" method="post">

	<div>
	 <input type="hidden" name="id" th:value="${projeto.id}" readonly="readonly">
	</div>
	
	<div>
	<label>Nome do projeto:</label> <input type="text" name="nome" th:value="${projeto.nome}">
	</div>
	
	<div>
	<label>Responsavel:</label> <input type="text" name="responsavel" th:value="${projeto.responsavel}">
	</div>
	
<div>
<label>Matricula:</label> <input type="text" name="matricula" th:value="${projeto.matricula}">
</div>

<div>
<label>Categoria/Área:</label> <input type="text" name="categoria" th:value="${projeto.categoria}">
</div>

<div>
<label>Email:</label> <input type="text" name="email" th:value="${projeto.email}">
</div>

<div>
<label>Descrição:</label> <input type="text" name="descricao" th:value="${projeto.descricao}">
</div>

<div>
<button class="waves-effect waves-light btn" type="submit">Salvar</button>
<button  class="waves-effect waves-light btn" type="reset">Apagar</button>
</div>

</form>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>