<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>adicionar projeto</h1>

<form action= "">

	<div>
	<label>Nome:</label> <input type="text" name="nome">
	</div>
<div>
<label>Matrícula:</label> <input type="text" name="matrícula">
</div>
<div>
<label>Curso:</label> <input type="text" name="curso">
</div>
<div>
<label>Email:</label> <input type="text" name="email">
</div>
<div>
<button type="submit">Salvar</button>
<button type="reset">Apagar</button>
</div>

</form>
</body>
</html>